.vscode
html
image/*
latex
out_mac
out_win
result/*
SimMain.dSYM
Doxifile.bak
out.mp4
video/*
SimMain
SimMain.exe
*.mp4
.DS_store
archive*
*.o
config.txt
test-tools
README_tmp.html
tutorial/out/*.log
package
src/convert_tools/__pycache__
*Test
!/src/test/